<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>LTW3.Controller.admin.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <display-name>JPA_Category</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CategoryController</servlet-name>
    <servlet-class>LTW3.Controller.admin.CategoryController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageDownloadController</servlet-name>
    <servlet-class>LTW3.Controller.Web.ImageDownloadController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>LTW3.Controller.Web.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryController</servlet-name>
    <url-pattern>/admin-category</url-pattern>
    <url-pattern>/admin-category/create</url-pattern>
    <url-pattern>/admin-category/update</url-pattern>
    <url-pattern>/admin-category/edit</url-pattern>
    <url-pattern>/admin-category/delete</url-pattern>
    <url-pattern>/admin-category/reset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageDownloadController</servlet-name>
    <url-pattern>/images/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/home</url-pattern>
    <url-pattern>/login</url-pattern>
    <url-pattern>/register</url-pattern>
    <url-pattern>/forgotpass</url-pattern>
    <url-pattern>/waiting</url-pattern>
    <url-pattern>/VerifyCode</url-pattern>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRoleController</display-name>
    <servlet-name>UserRoleController</servlet-name>
    <servlet-class>LTW3.Controller.admin.UserRoleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRoleController</servlet-name>
    <url-pattern>/UserRoleController</url-pattern>
  </servlet-mapping>
</web-app>